{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('instructor.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Registered Students
                <div class="sub header">
                    View and manage currently registered students.
                </div>
            </h2>

            <div class="ui menu">
                <div id="select-role" class="ui dropdown item">
                    <div class="text">
                        All cohorts
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item" data-value="">All cohorts</div>
                        {% for c in cohorts %}
                            <div class="item" data-value="{{ c.name }}">{{ c.name }}s</div>
                        {% endfor %}
                    </div>
                </div>
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-students" type="text" placeholder="Search students…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable selectable celled table">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th class="sorted ascending">Last name</th>
                            <th>Email address</th>
                            <th>ID Card</th>
                            <th>Cohort</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for s in students | sort(attribute='last_name') %}
                        <tr onclick="window.location.href = '{{ url_for('instructor.student_info', student_id=s.id) }}';">
                            <td>{{ s.first_name }}</td>
                            <td>{{ s.last_name }}</td>
                            <td>{{ s.email }}</td>
                            <td>{{ s.idcard_id }}</td>
                            <td class="user cohort">{{ s.cohort_id }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-users').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });

            $('#select-cohort').dropdown({
                onChange: function (value, text, $selectedItem) {
                    $('td.user.cohort:contains(' + value + ')').closest('tr').removeClass('hidden').show();
                    $('td.user.cohort').not(':contains(' + value + ')').closest('tr').addClass('hidden').hide();
                }
            });
        });
    </script>
{% endblock %}