{% extends 'layouts/base.html' %}

{% block content %}
    <div class="ui stackable grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('instructor.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Stranded ID Cards
                <div class="sub header">
                    View currently stranded ID cards.
                </div>
            </h2>

            <div class="ui menu">
                <div class="ui right search item">
                    <div class="ui transparent icon input">
                        <input id="search-cohorts" type="text" placeholder="Search cohorts…">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui searchable sortable unstackable celled table">
                    <thead>
                        <tr>
                            <th>Serial Number</th>
                            <th class="sorted descending">Created At</th>
                            <th>Students</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for idc in idcards | sort(attribute='created_at', reverse=True) %}
                        <tr>
                            <td class="cohort">{{ idc.serial_no }}</td>
                            <td>{{ idc.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                            <td>{{ idc.students }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#search-cohorts').keyup(function () {
                var searchText = $(this).val();
                if (searchText.length > 0) {
                    $('tbody td:icontains(' + searchText + ')').addClass('positive');
                    $('td.positive').not(':icontains(' + searchText + ')').removeClass('positive');
                    $('tbody td').not(':icontains(' + searchText + ')').closest('tr').addClass('hidden').hide();
                    $('tr.hidden:icontains(' + searchText + ')').removeClass('hidden').show();
                } else {
                    $('td.positive').removeClass('positive');
                    $('tr.hidden').removeClass('hidden').show();
                }
            });
        });
    </script>
{% endblock %}