{% extends 'layouts/base.html' %}
{% import 'macros/form_macros.html' as f %}

{% block scripts %}
{% endblock %}

{% block content %}
    <div class="ui stackable centered grid container">
        <div class="sixteen wide tablet twelve wide computer centered column">
            <a class="ui basic compact button" href="{{ url_for('instructor.index') }}">
                <i class="caret left icon"></i>
                Back to dashboard
            </a>
            <h2 class="ui header">
                Upload New Students
            </h2>

            {% set flashes = {
                'error':   get_flashed_messages(category_filter=['form-error']),
                'warning': get_flashed_messages(category_filter=['form-check-slug']),
                'info':    get_flashed_messages(category_filter=['form-info']),
                'success': get_flashed_messages(category_filter=['form-success'])
            } %}

            {{ f.begin_form(form, flashes) }}

            {{ f.form_message(flashes['error'], header='Something went wrong.', class='error') }}
            {{ f.form_message(flashes['warning'], header='Warning', class='warning') }}
            {{ f.form_message(flashes['info'], header='Information', class='info') }}
            {{ f.form_message(flashes['success'], header='Success!', class='success') }}

            {{ f.render_form_field(form.cohort) }}
            <div class="sub header">
                New cohort? <a href="{{ url_for('instructor.new_cohort') }}">Add the cohort</a> first.
            </div>
            <p />

            {# Use overflow-x: scroll so that mobile views don't freak out
             # when the table is too wide #}
            <div style="overflow-x: scroll;">
                <table class="ui sortable unstackable selectable celled table definition">
                    <thead>
                        <tr>
                            <th></th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email address</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for s in students %}
                        <tr class="{{'negative' if s.invalid }}">
                            <td class="collapsing">
                                <div class="ui fitted toggle checkbox{{ ' checked' if not s.invalid }}">
                                    <input name="student_include" value="{{ s.index }}"
                                           type="checkbox"{{ ' disabled' if s.invalid else ' checked' }}>
                                    <label></label>
                                </div>
                            </td>
                            <td>{{ s.first_name }}</td>
                            <td>{{ s.last_name }}</td>
                            <td>{{ s.email }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <p />

            {% for field in form | selectattr('type', 'equalto', 'SubmitField') %}
                {{ f.render_form_field(field) }}
            {% endfor %}
            {{ f.end_form() }}

        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('form').submit(function() {
                var arr=[];
                $('input:checked[name=student_include]').each(function () {
                    arr.push($(this).val());
                });

                $('#students').val(arr.join('|'));
            });

            $("table tbody").on("click", "tr", function() {
                var inp = this.getElementsByTagName('input')[0];
                if (inp.disabled == false) {
                    inp.checked = !inp.checked
                };
            });
        });
    </script>

{% endblock %}
